/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  /* ????? */
  overflow: hidden;
}
.container::after {
  display: table;
  content: "";
  clear: both;
}
.container {
  height: calc(100% - 100px);
}
.active {
  color: white;
}
li.active {
  border-left: 3px solid #acfe2e;
}
/* REGOLE GENERALI PAGINA */
.content-left, .content-right {
  float: left;
}


/* CONTENT LEFT */
.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  height: 100%;
  width: 200px;
  background-color: black;
}
.content-left #logo-mobile {
  display: none;
}
/* CONTENT LEFT - TOP - LOGO - NAV */
.content-left .logo {
  padding: 0 5px;
  margin-bottom: 10px;
}
.content-left .logo img {
  padding: 5px;
  max-width: 90%;
}
.content-left nav li {
  height: 30px;
  padding-top: 5px;
  padding-left: 15px;
  margin: 10px 0;
  line-height: 30px;
}
nav li a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  font-size: 15px;
}
nav li:hover a {
  color: white;
}
nav li img {
  vertical-align: top;
  max-width: 15%;
  margin-right: 8px;
}
@media all and (max-width:650px) {
  .content-left {
    width: 50px;
  }
  .content-left .top {
    text-align: center;
  }
  .content-left .logo {
    display: none;
  }
  .content-left #logo-mobile {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .content-left #logo-mobile img {
    display: block;
    max-width: 100%;
  }
  .content-left nav li {
    height: auto;
    padding-left: 0;
    padding-top: 0;
    list-style: none;
  }
  li.active {
    border: none;
  }
  nav li a {
    display: none;
  }
  nav li {
  margin: 10px 0;
  }
  nav li img {
    max-width: 80%;
    margin-right: 0;
  }

  .playlist {
    display: none;
  }
  .bottom span {
    display: none;
  }
  .bottom hr {
    display: none;
  }
}

/* CONTENT LEFT - TOP - PLAYLIST */
.playlist {
  margin-top: 20px;
  padding-left: 15px;
}
.playlist h5 {
  color: white;
}
.playlist .create-playlist a {
  margin: 10px 0;
  display: inline-block;
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
.playlist .create-playlist a:hover {
  color: white;
}
.playlist .create-playlist .btn {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
}
.playlist .create-playlist .btn a {
  font-size: 18px;
}
.playlist ul {
  margin: 10px 0;
  height: 25vh;
}

/* SCROLLBAR PLAYLIST */
@media all and (max-height:680px) {
   .playlist ul {
    overflow: auto;
    height: 20vh;
  }
}
/* SCROLLBAR PLAYLIST */

.playlist ul li {
  margin: 10px 0;
}
.playlist ul li:hover a {
  color: white;
}
.playlist ul li a {
  text-decoration: none;
  color: grey;
  font-size: 12px;
}

/* CONTENT LEFT - BOTTOM */
.bottom {
  padding: 0 15px;
}
.bottom img {
  vertical-align: middle;
  margin-right: 10px;
}
.bottom span {
  color: white;
}
.bottom hr {
  margin: 10px 0;
}
.download-app img {
  max-width: 10%;
}
.download-app span {
  font-size: 12px;
  color: grey;
}
.account img {
  max-width: 15%;
  padding: 5px;
  background-color: grey;
  border-radius: 50%;
}
.account span {
  font-weight: bold;
  font-size: 15px;
}
@media all and (max-width:650px) {
  .bottom {
    padding: 0;
  }
  .account, .download-app {
    margin: 10px 0;
    text-align: center;
  }
  .download-app img {
    max-width: 50%;
    margin-right: 0;
  }
  .account img {
    max-width: 80%;
    margin-right: 0;
  }
}

/* CONTENT RIGHT */
.content-right {
  height: 100%;
  width: calc(100% - 200px);
  background-color: #141922;
  padding-left: 1%;
  padding-right: 1%;
  overflow-y: auto;
  color: #ffff;
}
@media all and (max-width:650px) {
  .content-right {
    height: 100%;
    width: calc(100% - 50px);
  }
}
#upgrade-bar {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 100px;
  line-height: 100px;
  padding-right: 20px;
  text-align: right;
  background-color: rgba(0,0,0, 0.7);
  z-index: 999;
}
#upgrade-bar a {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: transform 1s;
}
#upgrade-bar a:hover {
  transform: scale(1.1);
}
@media all and (max-width:650px) {
  #upgrade-bar {
    left: 50px;
    width: calc(100% - 50px);
  }
}


/* SONGS MENU */
.songs-menu {
  padding-top: 120px;
}
.songs-menu ul {
  text-align: center;
  margin-bottom: 50px;
}
.songs-menu ul li{
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
  position: relative;
}
.songs-menu ul li.active {
  border-left: none;
}
.songs-menu ul li.active::after {
  content : "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 60%;
  border-bottom: 2px solid #acfe2e;
}
.songs-menu ul li a {
  color: grey;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.songs-menu ul li:hover a {
  color: white;
}


/* SONGS LIST */
.songs-list .title{
  margin-bottom: 10px;
}
.songs-list .title h3 {
  margin-bottom: 10px;
}
.songs-list .title span {
  color: grey;
  font-size: 13px;
}
.recently, .created, .popular {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.song {
  flex-basis: calc(100% / 6);

  /* NON CAPISCO COSA CAMBIA CON SHRINK ???? */
  flex-shrink: 1;
  cursor: pointer;
  /* debug */
  border: 1px solid white;
}
.song img {
  max-width: 80%;
}
.song .img {
  position: relative;
}
.song .play {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.song .play i {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  font-size: 40px;
  border: 8px solid white;
  border-radius: 50%;
}
.song .img:hover .play {
  display: block;
}
.song .info h5 {
  letter-spacing: 1px;
  font-size: 14px;
}
.song .info span {
  letter-spacing: 1px;
  font-size: 12px;
  color: grey;
}
.song .info {
  margin-top: 10px;
}
.popular .song img {
  border-radius: 50%;
}
.popular .song .play {
  border-radius: 50%;
}
/* getione tablet songs */
@media all and (max-width:992px) {
  .song {
    flex-basis: calc((100% / 4) - 10px);
  }
  .song .info h5 {
    letter-spacing: 1px;
    font-size: 15px;
  }
}

/* getione mobile songs */
@media all and (max-width:768px) {
   .song {
    flex-basis: calc((100% / 2) - 10px);
  }
}


/* MUSIC PLAYER */
#music-player {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #282828;
  z-index: 9999;
}
#music-player > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* debug */
  /* border: 1px solid white; */
}
#music-player .left {
  width: 200px;
}
#music-player .image-container {
  height: 40px;
  width: 40px;
  background-color: red;
}
.song-name .image-container,
.song-name .info {
  display: inline-block;
}
.image-container img {
  max-width: 100%;
}
.song-name {
  margin-left: 15px;
}
.song-name h5{
  color: white;
}
.song-name h6 {
  color: grey;
}
.save {
  margin-right: 5px;
  color: grey;
}
.save i:hover {
  color: white;
  cursor: pointer;
}

/* PLAYER */
#music-player .player {
  width: 500px;
  flex-direction: column;
  justify-content: space-evenly;
}
.player .command,
.player .time {
  text-align: center;
}
.command .fas {
  color: white;
  margin: 0 10px;
  cursor: pointer;
}
.command [class="fas fa-play"] {
  font-size: 20px;
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
}
@media all and (max-width:650px) {
  .command [class="fas fa-play"] {
    font-size: 15px;
  }
  .command .fas {
    font-size: 10px;
  }
}
.time {
  display: flex;
  flex-direction: row;
}
.time .line-bg {
  margin: auto;
  width: 400px;
  height: 5px;
  border-radius: 20px;
  background-color: grey;
  position: relative;
  cursor: pointer;
}
.time .line-bg .cursor {
  display: none;
  position: absolute;
  height: 15px;
  width: 15px;
  top: -5px;
  left: 90px;
  background-color: white;
  border-radius: 50%;
}
.time .line-white:hover {
  background-color: #acfe2e;
}
.time .line-bg:hover .cursor {
  display: block;
}
.time .line-white {
  position: absolute;
  margin: auto;
  width: 100px;
  height: 5px;
  border-radius: 20px;
  background-color: #ccc;
  cursor: pointer;
}
.time .eta-left,
.time .eta-right {
  font-weight: bold;
  color: white;
  font-size: 10px;
}
.time .eta-left {
  margin-right: 10px;
}
.time .eta-right {
  margin-left: 10px;
}

/* SETTINGS */
#music-player .settings {
  max-width: 300px;
  justify-content: space-around;
}
#music-player .settings .fas {
  color: white;
}
#music-player .settings .fas:hover {
  cursor: pointer;
}
@media all and (max-width:650px) {
  #music-player .settings .fas {
    font-size: 10px;
  }
}
#music-player .settings .time {
  width: 60%;
}

/* GESTIONE RESPONSIVE PLAYER */
@media all and (max-width:852px) {
  #music-player .left {
    width: 20%;
  }
  .time .line-bg {
    width: 200px;
  }
  #music-player .player {
    width: 50%;
  }
  #music-player .settings {
    width: 30%;
  }
  #music-player .settings .fas{
    margin-right: 3px;
  }
  #music-player .settings .time {
    width: 120px;
  }
}
